[user]
	name = Yuta SUZUKI
	email = suzuki7yuta@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = auto
[core]
	editor = nvim
	symlinks = true
	autoCRLF = false
	quotepath = false
	eol = lf
	crlf = false
